/* resets */
body { margin:0px; padding:0px; }

/* main */
.event-header {
    height: 22rem;
}
.header-banner {
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 22rem;
    color: #fff;
    text-shadow: 1px 0 0 black,-1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black;
    
}

@media screen and (min-width: 601px) {
  #bannerHeading {
  font-size: 36px;
}
  #bannerSubtext{
    font-size: 16px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
 #bannerHeading {
  font-size: 28px;
}
#bannerSubtext{
    font-size: 16px;
  }
}

.event-header h1 {
    background-color: rgba(18,72,120, 0.8);
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: 2rem; 
    left: 2rem;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}


/* demo content */
body { 
    color: #292f36;
    font-family: 'Lora', 'Times New Roman', serif;
    line-height: 1.6;
}
.content{ 
    /*float:left;*/
    
    margin: 0 auto;
    padding-top: 2rem;
    /*width: 960px;*/
    width:100%;
    max-width: 100%;
    text-align: justify;

}

aside2 {
    float: right;
    width: 120px;
}
article {
    float: left;
    width: 100%;
}
article p {
    margin: 0 !important;
}
article p:last-child{
 margin-bottom: 30px !important;
}
  .sidebar {
  width:65%;
  float:right;
}

    
   .sidebar .widget {
    padding:5%;
  }

.sidebar .widget {
  margin:75px 0 25px;
  padding:25px;
  transition: all 0.5s ease;
  /*border-bottom: 2px solid #fff;*/
}

.sidebar .widget h2 {
  margin:0 0 15px;
  padding:0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight:800;
}

.sidebar .widget p {
  font-size: 14px;
}

.sidebar .widget p:last-child {
  margin:0;
}

.sidebar2 img{
  position: absolute;
  left: 75%;
  top: 50%;
  width:144px;
   height:150px;
   border:1px blanchedalmond;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
 }

.sidebar2 {
   /* width:275px;*/
   width:160px;
    float:center;
  }
  
     .sidebar2 .widget2 {
      padding:5%;
    }
  
  .sidebar2 .widget2 {
    margin:0 0 25px;
    padding:25px;
    background:#fff;
    transition: all 0.5s ease;
    border-bottom: 2px solid #fff;
  }
 
 
  
  
  .sidebar2 .widget2 p {
    font-size: 14px;
  }
  
  .sidebar2 .widget2 p:last-child {
    margin:0;
  }
  
  
  
  
  .sidebar2 .widget2 p {
    font-size: 14px;
  }

p img {
    max-width: 100%;
}

 
  .inline-block{
    display: inline-block;
  }

 .event-live {
    font-size: 10px;
    font-weight: 700;
    padding: 1px 8px;
    cursor: default;
    border-radius: 3px;
    border: 0;
    outline: 0;
}
.btn-green {
  background: #6bbd00;
  border: 1px solid #6bbd00;
  color: #fff;
}
.btn-smallest {
  padding: 0 4px;
  font-size: 12px;
}
  .event-timing{
    
    border: 1px solid #e5e7e8;
  }
  .event-timing p{
    padding: 10px;
    margin:0 !important;
  }
 .border-right{
   border-right: 1px solid #e5e7e8;
 }
 .light {
  color: #9ca3a8;
}
.small {
  font-size: 12px;
}
.block {
  display: block;
}
.weight-700 {
  font-weight: 700;
}

.dark {
  color: #46535e;
}
.regular {
  font-size: 14px;
}
.reg-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  padding: 0;
  line-height: 50px;
  
  font-size: 16px;
  width: 100%;
  height: 50px;
  font-weight: 600;
  font-family: 'Open Sans',sans-serif;
  background: #248ace;
  cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    outline: 0;
    box-shadow: 0 4px 12px 0 rgba(var(--shadow-btn-primary,86, 98, 223),0.6);
}
.reg-btn:hover{
  box-shadow: 0 2px 5px 0 rgba(var(--shadow-btn-primary,86, 98, 223),0.6);
}
.start-btn{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  padding: 0;
  line-height: 50px;
  
  font-size: 16px;
  width: 60%;
  height: 50px;
  font-weight: 600;
 /*font-family: 'Open Sans',sans-serif;*/
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #222222;
  cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    outline: 0;
    box-shadow: 0 4px 12px 0 rgba(var(--shadow-btn-primary,58, 59, 69),0.5);
   /* box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;*/
}
.start-btn:hover{
  box-shadow: 0 2px 5px 0 rgba(var(--shadow-btn-primary,58, 59, 69),0.5);
}
.lead-btn,.lead-btn:hover,.lead-btn:visited{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  padding: 0;
  line-height: 50px;
  
  font-size: 16px;
  width: 60%;
  height: 50px;
  font-weight: 600;
  font-family: 'Open Sans',sans-serif;
  background: #10b310c2;
  cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    border: 0;
    outline: 0;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
}
.btn-large {
  font-size: 16px;
}
.standard-margin-right {
  margin-right: 20px;
}
.side-lead-btn,.side-lead-btn:hover,.side-lead-btn:visited{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
  padding: 0;
  line-height: 50px;
  
  font-size: 16px;
  width: 60%;
  height: 50px;
  font-weight: 600;
 /* font-family: 'Open Sans',sans-serif;*/
  background: #fbfbfd;
  cursor: pointer;
    color:#858796;
  
    border-radius: 3px;
    border: 0;
    outline: 0;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
}
.share{
  margin-right: auto;
}
/*------------------------------------------------------------- FOR MOBILE LIKE SMALLER DEVICES ------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  body{
    font-size: 1rem;
  }
    .content{ 
        padding-top:0;
    }
    .title{
      padding-top: 2.25rem;
    }
    .content h1{
      text-align: center !important;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {  
        margin-bottom: 3rem;
    }
    .sidebar .widget {
     margin:0;
     padding-top: 0 !important;
    }
      aside2 {  
        float: none;
        text-align: center;
        width: 100%;
    }
    h1{
      margin-top: 50px;
      margin-bottom: 0;
      display: block !important;
    }
    .event-live{
      margin-left: 0 !important;
    }
    .reg-btn{
      margin-top: 0 !important;
    }
    p{
      line-height: 1.15;
    }
    aside.sidebar.w {
      margin-top: 0 !important;
  }
    .sidebar2 img{
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
     }
   .event-timing{
     display:block;
     border:0;
   }
   .border-right{
    border: 0 !important;
    border-bottom: 1px dashed #e5e7e8 !important;
    margin-top: 0;
}
  .event-timing p{
    display: block;
    padding: 15px 5px;
  }
  #nodis{
    display: none;
  }
}