

.gapping { margin-top:20px; }

p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* The number of lines to be displayed */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.container{
  margin-top: 150px;
}

.like{
  display: inline;
}

.like .likeicon{
  float: right;
}

.like .post{
  float: left;
}

.blog-wrapper a{
  text-decoration: none;
  color: black;
}

.card-cus{
  margin: 20px 0px;
  border-radius: 10px;
  padding: 20px;
  border: none!important;
  box-shadow: 0 0 15px 4px rgba(110, 110, 110, 0.200);

}

.inspire-heading{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin:0px 0px 10px 0px;
  color: #767c77;
}

.inspire-heading h1{
  font-size: 3em;
}




.blog-wrapper .card:hover{
  box-shadow: 0 0 8px 2px rgba(110, 110, 110, 0.200);
  transition: box-shadow 0.1s ease-in-out;
}

.blog-wrapper .card-title{
  font-family: 'Roboto', serif;
}

.blog-wrapper .card-text{
  text-align: justify;
}

.main-button{
  background-color: #6a197d;
  text-decoration: none;
  color:white!important;
}

.main-button:hover{
  background-color: #995d7f;
}

@media only screen and (max-width:767px){
  .inspire-heading h1{
  font-size: 2em;}
}
