

.gapping { margin-top:20px; }

.blocklines {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin-top: 25px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container{
  margin-top: 150px;
}

.like{
  display: inline;
}

.like .likeicon{
  float: right;
}

.like .post{
  float: left;
}