
.opportunities-card{
    min-height: 400px;
    width: 100%;
    margin: 30px 0px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 15px 6px rgba(110, 110, 110, 0.200);  

}

.contests-heading{
    color: #767c77;

}

.inspire-heading{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin:100px 0px 10px 0px;
    color: #767c77;
}

.contest-card{
    min-height: 400px;
    width: 100%;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px 6px rgba(110, 110, 110, 0.200); 
}

.contest-card h2{
    margin: 50px 0px;
    font-size: 2em;
}

.main-button{
    background-color: #6a197d;
}

.main-button:hover{
    background-color: #6a197d;
}

@media screen and (max-width:768px){


}

