

.opty-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
}

.opty-wrapper .card-subtitle .formargin{
    margin-top: 30px;
}

.opty-wrapper .posted-by-margin{
    margin-top: 30px;
}

.opty-wrapper .card-text{
    margin-top: 25px;
    text-align: justify;
}

.card-wrapper{
    box-shadow: 0 0 15px 4px rgba(110, 110, 110, 0.200);
}

.view-button .applybtn{
    background-color: #743c5c;
    color:white;
}

.view-button .viewallbtn{
    background-color: #9a468d;
    color:white;
}