<head>
    <link rel="stylesheet" media="screen" href="/public/stylesheets/banner.css">
</head>


<div class="container-fluid" style="min-height: 100vh;background: -webkit-linear-gradient(left, #6a197d, #ffa5b0);">
    <div class="row">

        <div class="col-md-6">
            <div class="bnrcontent">
                <h2>
                    Join
                </h2>
                <h1 class="bannertxt">
                    WomenHub,
                </h1>
                <h2>
                    And be a part of our <br> community.
                </h2>
                <a href="/login">
                    <input type="button" class="bannerbtn"  value="join">  
                </a>

            </div>            
            
        
    </div>



        <div class="col-md-6">
            <img src="/public/stylesheets/bannerimg.png" alt="" class="bnrimg">
        </div>
        
        
        
    </div>
</div>

<!--
    <div id="particles-js"></div>

    
    <script src="/js/particle/app.js"></script>
    <script src="/js/particle/particles.js"></script>
    
    <script>
      var count_particles, stats, update;
      stats = new Stats;
      stats.setMode(0);
      stats.domElement.style.position = 'absolute';
      stats.domElement.style.left = '0px';
      stats.domElement.style.top = '0px';
      document.body.appendChild(stats.domElement);
      count_particles = document.querySelector('.js-count-particles');
      update = function() {
        stats.begin();
        stats.end();
        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
          count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
      };
      requestAnimationFrame(update);
    </script>
    -->
