<%- include header.ejs %>
<head>
    <link rel="stylesheet" href="/public/stylesheets/blogs.css">
</head>
<div class="container mt-5 mb-5 blog-wrapper">
    <div class="row gapping">
        <div class="col-sm-6 col-8 align-self-center offset-sm-3 offset-2">
            <h1>by anand</h1>
            <h4>i am so excited for this project but i am lazy so i have no idea what i am gonna do </h4>
        </div>
    </div>
    <div class="row gapping">
        <div class="col-sm-6 col-8 align-self-center offset-sm-3 offset-2">
            <h1>by anand</h1>
            <h4>i am so excited for this project but i am lazy so i have no idea what i am gonna do </h4>
        </div>
    </div>
    <div class="row gapping">
        <div class="col-sm-6  col-8 align-self-center offset-sm-3 offset-2">
            <h1>by anand</h1>
            <h4>i am so excited for this project but i am lazy so i have no idea what i am gonna do i am so excited for this project but i am lazy so i have no idea what i am gonna do </h4>
        </div>
    </div>
    <div class="row gapping">
        <div class="col-sm-6  col-8 align-self-center offset-sm-3 offset-2">
            <h1>by anand</h1>
            <h4>i am so excited for this project but i am lazy so i have no idea what i am gonna do </h4>
        </div>
    </div>
    <div class="row gapping">
        <div class="col-sm-6  col-8 align-self-center offset-sm-3 offset-2">
            <h1>by anand</h1>
            <h4 class="blocklines">i am so excited for this project but i am lazy so i have no idea what i am gonna do i am so excited for this project but i am lazy so i have no idea what i am gonna do i am so excited for this project but i am lazy so i have no idea what i am gonna do i am so excited for this project but i am lazy so i have no idea what i am gonna do i am so excited for this project but i am lazy so i have no idea what i am gonna do i am so excited for this project but i am lazy so i have no idea what i am gonna do </h4>
        </div>
    </div>
    <div class="row gapping">
        <div class="col-sm-6  col-8 align-self-center offset-sm-3 offset-2">
            <h1>by anand</h1>
            <h4>i am so excited for this project but i am lazy so i have no idea what i am gonna do </h4>
        </div>
    </div>
</div>
<%- include footer.ejs %>