<%- include header.ejs %>
<head>
    <link rel="stylesheet" href="/public/stylesheets/blogs.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<div class="container blog-wrapper">
    <div class="row justify-content-center gapping">
        <div class="col-sm-8 ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">An inspiring story</h4>
                    <a href="./blog.ejs">
                        <p class="card-text blocklines " title="click to read full blog">It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue 
                        </p>
                    </a>
                    <div class="like ">
                        <h6 class="text-muted post gapping">posted by</h6>
                        <i class="fa fa-heart likeicon gapping" aria-hidden="true">5</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center gapping">
        <div class="col-sm-8 ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">An inspiring story</h4>
                    <a href="./blog.ejs">
                        <p class="card-text blocklines " title="click to read full blog">It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue 
                        </p>
                    </a>
                    <div class="like ">
                        <h6 class="text-muted post gapping">posted by</h6>
                        <i class="fa fa-heart likeicon gapping" aria-hidden="true">5</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center gapping">
        <div class="col-sm-8 ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">An inspiring story</h4>
                    <a href="./blog.ejs">
                        <p class="card-text blocklines " title="click to read full blog">It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue 
                        </p>
                    </a>
                    <div class="like ">
                        <h6 class="text-muted post gapping">posted by</h6>
                        <i class="fa fa-heart likeicon gapping" aria-hidden="true">5</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center gapping">
        <div class="col-sm-8 ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">An inspiring story</h4>
                    <a href="./blog.ejs">
                        <p class="card-text blocklines " title="click to read full blog">It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue It feels so good when we see people around us empowering women are found.
                        many girls are killed or burnet alive because of dowry system in india. let us come 
                        forward to resolve this issue 
                        </p>
                    </a>
                    <div class="like ">
                        <h6 class="text-muted post gapping">posted by</h6>
                        <i class="fa fa-heart likeicon gapping" aria-hidden="true">5</i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<%- include footer.ejs %>