<head>
    <link rel="stylesheet" href="/public/stylesheets/index_inspire.css">
</head>

<%- include header.ejs %>
<style>
      .btnRegister {
        float: left;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #fabea7;
        color: #fff;
        font-weight: 600;
        width: 30%;
        cursor: pointer;
    }
</style>
<div class="container mt-4">
<div class="row opportunities-card">

   

    <div class="col-md-10 order-md-2">
      <h1 class="featurette-heading mt-4">Title</h1>
      <h5 class="mt-4">posted by name of the person</h5>
      <p class="mt-3 mb-5">
        i am so tired but i have to work i know all i have is now , i am not gonna rest at all
        i am so tired but i have to work i know all i have is now , i am not gonna rest at all
        i am so tired but i have to work i know all i have is now , i am not gonna rest at all
        i am so tired but i have to work i know all i have is now , i am not gonna rest at all
    </p>
    <div class="form-group ">
        <input type="submit" class="btn btn-lg  btn-block btnRegister" value="Apply" />
    </div>
    </div>
   
  </div>
</div>

<%- include footer.ejs %>