
<head>
  <link rel="stylesheet" href="/public/stylesheets/footer.css">
</head>
<footer id="myFooter">
  <div class="container">
      <div class="row" style="align-items: center; align-content: center;">
          <div class="col-sm-2">
              <h5 class="mb-4">WOMENHUB</h5>
          </div>
          <div class="col-sm-2">
              <h5 class="mb-4"><a href="/blogs">Blogs</a></h5>
           
          </div>
          <div class="col-sm-2">
              <h5 class="mb-4"><a href="/opportunities">Opportunities</a></h5>
           
          </div>
          <div class="col-sm-2">
              <h5 class="mb-4"><a href="/contests">Contest</a></h5>
            
          </div>
          <div class="col-sm-4">
              <div class="social-networks">
                  <a href="#" ><i class="fa fa-linkedin"></i></a>
                  <a href="#" ><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
      </div>
  </div>
  <div class="footer-copyright">
      <p>© 2020 WomenHub | All Right Reserved.</p>
  </div>
</footer>





<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>